/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/

.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  animation: drive 5s both infinite ease-in, jumpmario 0.5s ease infinite;
}

.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation: drive 6s both infinite ease-in-out, jumpluigi 0.4s ease infinite;
}

.cloud {
  position: absolute;
  z-index: 2;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 100px;
  opacity: 0.5;
  animation: wind 60s linear infinite reverse, jumpcloud 4s linear infinite;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  opacity: 0.8;
  animation: wind 50s linear infinite reverse, jumpcloudtwo 6s linear infinite;
}

.sun {
    position: absolute;
    width: 150px;
    top: 0;
    animation: sun 5.5s ease-in infinite, sunattack 10s ease infinite;
    z-index: 1; 
}


/*// KEYFRAMES //*/

@keyframes drive {
  from { transform: translateX(-200px); }
  to { transform: translateX(2600px); }
}

@keyframes wind {
  from {left: -200px;}
  to {left: 100%;}
}

@keyframes jumpmario {
  0% { top: -38px; }
  50% { top: -45px; }
  100% { top: -38px; }
}

@keyframes jumpluigi {
  0% { top: 98px; }
  50% { top: 105px; }
  100% { top: 98px; }
}

@keyframes jumpcloud {
  0% { top: 98px; }
  50% { top: 105px; }
  100% { top: 98px; }
}

@keyframes jumpcloudtwo {
  0% { top: -2px; }
  50% { top: 5px; }
  100% { top: -2px; }
}

@keyframes sun {
  from { transform: translateX(-200px); }
  to { transform: translateX(2600px); }

}

@keyframes sunattack {
    0% { top: 0px}
    50% { top: 800px}
    100% { top: 0px}
}